{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Inscription</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

  <style type="text/css">
  .is-invalid, .was-validated .form-group:invalid {
  border-color: #dc3545;
  padding-right: 4.125rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"),url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-position: right .75rem center,center right 2.25rem;
  background-size: 16px 12px,calc(.75em + .375rem) calc(.75em + .375rem);
}

.invalid {
  /*display: none;*/
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: #dc3545;
}
</style>

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Créer un compte!</h1>
              </div>
              <form method="POST"  class="user">{% csrf_token %}
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="id_nom" placeholder="Nom" name="nom">                      
                      {% for error in form.nom.errors %}
                      <div class="invalid">
                        <strong>{{ error|escape }}</strong>
                      </div>
                      {% endfor %}
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control form-control-user" id="id_prenom" placeholder="Prenom" name="prenom">                      
                      {% for error in form.prenom.errors %}
                      <div class="invalid">
                        <strong>{{ error|escape }}</strong>
                      </div>
                      {% endfor %}
                  </div>
                  <div class="col-sm-4">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="sexe" id="Feminin" value="1">
                      <label class="form-check-label" for="Feminin">Feminin</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="sexe" id="Masculin" value="2">
                      <label class="form-check-label" for="Masculin">Masculin</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="id_email" placeholder="Email Address" name="email">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id="id_password1" placeholder="Password" name="password1">                      
                      {% for error in form.password1.errors %}
                      <div class="invalid">
                        <strong>{{ error|escape }}</strong>
                      </div>
                      {% endfor %}
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="id_password2" placeholder="Repeat Password" name="password2">                      
                      {% for error in form.password2.errors %}
                      <div class="invalid">
                        <strong>{{ error|escape }}</strong>
                      </div>
                      {% endfor %}
                  </div>
                </div>
                <hr>
                <input type="submit" class="btn btn-primary btn-user btn-block" value="S'inscrire">
              </form>
              <hr>
              
              <div class="text-center">
                <a class="small" href="forgot-password.html">Mot de passe oublié?</a>
              </div>
              <div class="text-center">
                <a class="small" href="{% url 'login' %}">Se connecter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Feedbacks -->
  <script type="text/javascript">
    $('.invalid').prev().find('input').addClass('is-invalid');
    $('.invalid').prev().find('textarea').addClass('is-invalid');
  </script>
</body>

</html>
