{% extends 'old/base.html' %}
{% load static %}
{% block pageTitle %}Résultats{% endblock %}
{% block pageContent %}
<style type="text/css">
    .post-preview > a {
    color: #212529;
}
a {
    color: #212529;
    transition: all .2s;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #4e73df; /*#007bff;*/
    text-decoration: underline;
    /*text-decoration: none;
    background-color: transparent;*/
}
.post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px;
}
.post-preview > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #868e96;
}
p {
    line-height: 1.5;
    margin: 30px 0;
}
</style>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for r in results %}
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              result
            </h2>
            <h3 class="post-subtitle">
              Problems look mighty small from 150 miles up
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 24, 2019</p>
        </div>
        {% empty %}
        <h2 class="post-title">
          Il semblerait qu'il n'y ait aucun résultat pertinent associé à votre recherche.
        </h2>
        {% endfor %}
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 18, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Science has not yet mastered prophecy
            </h2>
            <h3 class="post-subtitle">
              We predict too much for the next year and yet far too little for the next ten.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on August 24, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Failure is not an option
            </h2>
            <h3 class="post-subtitle">
              Many say exploration is part of our destiny, but it’s actually our duty to future generations.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on July 8, 2019</p>
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}